
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e6e955;
}
.navbar {
    background-color: #ebee2f;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 1000; 
}

.navbar ul {
    list-style-type: none;
}

.navbar ul li {
    display: inline;
    margin: 0 10px;
}

.navbar ul li a {
    color: #0f0f02;
    text-decoration: none;
    font-size: 18px;
}

.navbar ul li a:hover {
    text-decoration: underline;
}


.banner {
    background-image: url('ban.jpg'); 
    background-size: cover;
    background-position:center;
    color: #e45858;
    text-align: center;
    padding: 90px 0; 
    height: 400px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-content {
    max-width: 600px;
}

.banner h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.banner p {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    background-color: #ff5e3a;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #e34a27;
}
.section {
    width:100%; 
    text-align: center;
}
.section img {
    max-width: 100%;
    height: auto;
    width: 25%;
    margin-top: 20px;
    align-items: start;
}
